<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <%= render "layouts/shared/navbar/item_list" %>
      </nav>
    </div>
  </div>
</header>
